.header{
	position: fixed;
	top:0;left:0;
	z-index: 99;
	width: 100%;
	pointer-events: none;
	font-size: 0.8em;
	font-family: corporate_monoregular;
	color: $yellow;
	a {
		color: inherit;
		&:hover {
			border-bottom: solid 0.1em $yellow;
		}
	}
}

.site-nav {
	padding: 2em;
	ul li {
		display: inline-block;
		text-transform: uppercase;
		margin: 0 2em;
		pointer-events: auto;
		&.active {
			a {
				border-bottom: solid 0.1em $yellow;
			}
		}
	}
}