.project-information {
	margin-bottom: 6em;
}

.project-text {
	margin-bottom: 6em;	
}

.project-pagination {
	margin-top: 4em;	
}

figure {
	margin-bottom: 6em;
}

.comment {
	margin-top: 2em;
	max-width: 47em;
	font-size: 0.8em;
	font-family: corporate_monoregular;
	line-height: 1.6;
}